{{template "admin" .}}

{{define "page-title"}}
Reservation
{{end}}

{{define "content"}}
{{$res := index .Data "reservation"}}
{{$src := index .StringMap "src"}}
<div class="col-md-12">
  <p>
    <strong>Arrival : </strong> {{humanDate $res.StartDate}} <br />
    <strong>Departure : </strong> {{humanDate $res.EndDate}}<br />
    <strong>Room : </strong> {{$res.Room.RoomName}}<br />
  </p>

  <form action="/admin/reservations/{{$src}}/{{$res.ID}}" method="post" class="" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <input type="hidden" name="year" value="{{index .StringMap "year"}}" />
    <input type="hidden" name="month" value="{{index .StringMap "month"}}" />
    <div class="form-group mt-5">
      <label for="first_name" class="form-label">
        First Name
      </label>
      {{with .Form.Errors.Get "first_name"}}
      <label class="text-danger">{{.}}</label>
      {{end}} <input type="text" required autocomplete="off" class="form-control {{with .Form.Errors.Get
          "first_name"}}is-invalid{{end}}" id="first_name" name="first_name" value="{{$res.FirstName}}" aria-describedby="first_nameHelp" />
    </div>
    <div class="form-group">
      <label for="last_name" class="form-label">
        Last Name
      </label>
      {{with .Form.Errors.Get "last_name"}}
      <label class="text-danger">{{.}}</label>
      {{end}} <input type="text" required class="form-control {{with
          .Form.Errors.Get "last_name"}}is-invalid{{end}}" id="last_name" name="last_name" aria-describedby="last_nameHelp" value="{{$res.LastName}}" />
    </div>


    <div class="form-group">
      <label for="email" class="form-label">
        Email
      </label>
      {{with .Form.Errors.Get "email"}}
      <label class="text-danger">{{.}}</label>
      {{end}} <input type="email" required class="form-control {{with
          .Form.Errors.Get "email"}}is-invalid{{end}}" id="email" name="email" value="{{$res.Email}}" aria-describedby="emailHelp" />
    </div>
    <div class="form-group">
      <label for="email" class="form-label">
        Phone
      </label>
      {{with .Form.Errors.Get "phone"}}
      <label class="text-danger">{{.}}</label>
      {{end}} <input type="phone" required class="form-control {{with
          .Form.Errors.Get "phone"}}is-invalid{{end}}" id="phone" value="{{$res.Phone}}" name="phone" aria-describedby="phoneHelp" />
    </div>
    <hr />
    <div class="float-start">
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      {{ if eq $src "cal"}}
      <a href="#!" class="btn btn-warning" onclick="window.history.go(-1)">
        Cancel
      </a>
      {{else}}
      <a href="/admin/reservations-{{$src}}" class="btn btn-warning">
        Cancel
      </a>
      {{end}}
      {{if eq $res.Processed 0}}
      <a href="#!" class="btn btn-info" onclick="processRes({{$res.ID}})">
        Mark as Processed
      </a>
      {{end}}
    </div>
    <div class="float-end">
      <a href="#!" class="btn btn-danger" onclick="deleteRes({{$res.ID}})">
        Delete
      </a>
    </div>
    <div class="clear-fix"></div>
  </form>
</div>
{{end}}

{{define "js"}}
{{$src := index .StringMap "src"}}
<script>
  function deleteRes(id) {
    attention.custom({
      icon: "warning",
      msg: "Are you sure?",
      callback: function (res) {
        if (res !== false) {
          window.location.href = "/admin/delete-reservation/{{$src}}/" + id +"/do?y={{index .StringMap "year"}}&m={{index .StringMap "month"}}";
        }
      }
    })
  }

  function processRes(id) {
    attention.custom({
      icon: "warning",
      msg: "Are you sure?",
      callback: function (res) {
        if (res !== false) {
          window.location.href = "/admin/process-reservation/{{$src}}/" + id +"/do?y={{index .StringMap "year"}}&m={{index .StringMap "month"}}";
        }
      }
    })
  }

</script>
{{end}}
